
.search-container {
    position: relative;
}

.search {
    border-color: #87929D;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    position: relative;
    transition: border 0.12s ease-in-out;
}

.search:focus-within {
    border-color: rgba(0, 0, 0, 1);
}

.search input[type=search],
.search .clear-button {
    background-color: #fff;
    border-radius: 30px;
    border: none;
}

.search-full input[type=search],
.search-full .clear-button {
    border-color: #fff;
}

.search input[type=search] {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    color: #666;
    flex: 1 1 auto;
    height: 40px;
    width: 100%;
}

.search input[type=search]:focus {
    color: #555;
}



.search .clear-button {
    align-items: center;
    box-sizing: border-box;
    color: #777;
    cursor: pointer;
    display: none;
    flex: none;
    justify-content: center;
    padding: 0 15px;
}

.search .clear-button:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

.search .clear-button:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}

.search-has-value .clear-button {
    display: flex;
}




.search-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 15px;
    z-index: 1;
    width: 18px;
    height: 18px;
    color: #777;
    pointer-events: none;
}



.hero {
    background-image: url('https://support.saily.com/hc/theming_assets/01HZPD1Q2574WH7VH4TBGSETC7');
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.hero-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 610px;
    margin: 0 auto;
}

/***** Search field *****/
.search-container {
  position: relative;
}

.search {
  border-color: #87929D;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  position: relative;
  transition: border 0.12s ease-in-out;
}
.search:focus-within {
  border-color: rgba(0, 0, 0, 1);
}
.search input[type=search],
.search .clear-button {
  background-color: #fff;
  border-radius: 30px;
  border: none;
}
.search-full input[type=search], .search-full .clear-button {
  border-color: #fff;
}
.search input[type=search] {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  color: #666;
  flex: 1 1 auto;
  height: 40px;
  width: 100%;
}
.search input[type=search]:focus {
  color: #555;
}
.search input[type=search]::-webkit-search-decoration, .search input[type=search]::-webkit-search-cancel-button, .search input[type=search]::-webkit-search-results-button, .search input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.search input[type=search]:-webkit-autofill, .search input[type=search]:-webkit-autofill:hover, .search input[type=search]:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
.search .clear-button {
  align-items: center;
  box-sizing: border-box;
  color: #777;
  cursor: pointer;
  display: none;
  flex: none;
  justify-content: center;
  padding: 0 15px;
}
.search .clear-button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}
.search .clear-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}
.search-has-value .clear-button {
  display: flex;
}

[dir=ltr] .search input[type=search] {
  padding-left: 40px;
  padding-right: 20px;
}
[dir=ltr] .search-has-value input[type=search] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-color: transparent;
}
[dir=ltr] .search-has-value input[type=search]:focus {
  border-right-color: rgba(0, 0, 0, 1);
}
[dir=ltr] .search .clear-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-color: transparent;
}
[dir=ltr] .search .clear-button:focus {
  border-left-color: rgba(0, 0, 0, 1);
}

[dir=rtl] .search input[type=search] {
  padding-left: 20px;
  padding-right: 40px;
}
[dir=rtl] .search-has-value input[type=search] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-color: transparent;
}
[dir=rtl] .search-has-value input[type=search]:focus {
  border-left-color: rgba(0, 0, 0, 1);
}
[dir=rtl] .search .clear-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-color: transparent;
}
[dir=rtl] .search .clear-button:focus {
  border-right-color: rgba(0, 0, 0, 1);
}
a{
    text-decoration: none;
    
}

.search-icon {
  position: relative;
  top: 80%;
  transform: translateY(-50%);
  position: absolute;
  left: 15px;
  z-index: 1;
  width: 18px;
  height: 18px;
  color: #777;
  pointer-events: none;
}
[dir=rtl] .search-icon {
  left: auto;
  right: 15px;
}
.search input{
    padding-left: 40px;
    padding-right: 20px;
}

/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

@media (min-width: 768px) {
    .blocks-list {
        margin: 0 -15px;
    }
}

.blocks-item {
    border: 0px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    background: #F7F7F8;
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
    font-weight: 600;
}

@media (min-width: 768px) {
    .blocks-item {
        margin: 0 15px 30px;
    }
}

.blocks-item:hover,
.blocks-item:focus,
.blocks-item:active {
    background-color: #E2E2E4;
}



.blocks-item-internal {
    background-color: transparent;
    border: 1px solid #ddd;
}

.blocks-item-internal .icon-lock {
    height: 15px;
    width: 15px;
    bottom: 5px;
    position: relative;
}

.blocks-item-internal a {
    color: #2F3941;
}

.blocks-item-link {
    color: rgba(0, 0, 0, 1);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;
}

.blocks-item-link:visited,
.blocks-item-link:hover,
.blocks-item-link:active {
    color: inherit;
    text-decoration: none;
}

.blocks-item-link:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.blocks-item-title {
    margin-bottom: 0;
    font-size: 16px;
}

.blocks-item-description {
    margin: 0;
}

.blocks-item-description:not(:empty) {
    margin-top: 10px;
}


