 <div class="container-divider mt-5 mb-5"></div>

   
<div class="container c1 mt-5">
  <nav class="sub-nav">
    <nav aria-label="Current location">
  <ol class="breadcrumbs">
    
      <li>
        
          <a href="#"> Help Center</a>
        
      </li>
    
      <li>
        
          
            <a href="#" aria-current="page">Getting Started with </a>
          
        
      </li>
    
  </ol>
</nav>

    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"></circle>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"></path>
      </svg>
      <form role="search" class="search" data-search="" action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="hidden" name="category" id="category" value="12777342059164" autocomplete="off">
<input type="search" name="query" id="query" placeholder="Search" aria-label="Search"><button type="button" aria-controls="query" class="clear-button"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" role="img" viewBox="0 0 12 12" aria-label="Clear search"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M3 9l6-6m0 6L3 3"></path></svg></button></form>
    </div>
  </nav>

  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h1>Getting Started with </h1>
        
      </header>

      <div id="main-content" class="section-tree">
        
          <section class="section">
            <h2 class="section-tree-title">
              <a href="#">Setting up</a>
            </h2>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Does  provide bundle/regional plans?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How do I install the  eSIM on my Android device?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How do I install the  eSIM on my iOS device?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How can I get an eSIM?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How do I download the  App?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">When can I install my  eSIM?</a>
                    
                  </li>
                
              </ul>
              
                <a href="#" class="see-all-articles">
                  See all 13 articles
                </a>
              
            
          </section>
        
          <section class="section">
            <h2 class="section-tree-title">
              <a href="#">Using  eSIM</a>
            </h2>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Should I delete the eSIM on my old phone?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">When is it safe to remove eSIMs from my device?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="# "class="article-list-link">Can I reinstall an eSIM?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Does an eSIM work without the internet?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Can I use both an eSIM and a physical SIM with the same number?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Can I access all apps and websites with my eSIM mobile data?</a>
                    
                  </li>
                
              </ul>
              
                <a href="#" class="see-all-articles">
                  See all 9 articles
                </a>
              
            
          </section>
        
          <section class="section">
            <h2 class="section-tree-title">
              <a href="#">Device compatibility</a>
            </h2>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How to check if my device is eSIM compatible?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Can I use  if my device doesn't support eSIM?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Can I have two eSIMs on an iPhone 14?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">Does the iPhone 14 have a SIM tray?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How many eSIMs can the iPhone 14 have?</a>
                    
                  </li>
                
                  <li class="article-list-item">
                    
                    <a href="#" class="article-list-link">How many eSIMs can an iPhone 15 have?</a>
                    
                  </li>
                
              </ul>
              
                <a href="#" class="see-all-articles">
                  See all 7 articles
                </a>
              
            
          </section>
        
      </div>
    </div>
  </div>
</div>

